* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #fff;
}
.container {
  display: flex;
  margin: 0 auto;
  padding: 2px;
  background: tan;
  
}
.profile-ctr {
  margin: 0 auto;
  max-width: 440px;
  max-height: 440px, auto;
  background: #353535;
  justify-content: space-between;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}
.profile-ctr .col-1 {
  /* background-color: salmon; */
  display: flex;
  padding: 2px;
  justify-content: flex-start;

}
.profile-ctr .col-1 {
  display: flex;
  justify-content: flex-start;
  border: none;
  color: #353535;
  background-color: aqua; 
}
.profile-ctr .col-2 {
  background-color: rgb(15, 19, 19);
}
.profile-ctr .col-3 {
  background-color: #555;
}
.col-1 div {
  margin: 0;
  padding: 0;

}
.col-1 h2,
p {
 color: black;
}
img {
  height: auto;
  width: 20%;
}
#full-size-h, #h {
color: #555;
font-style: italic;
text-align: center;
font-size: small;
}

@media (max-width: 500px) {
    
    body{
      background-color: #555;
      margin: 0 10px auto;
    }

    .profile-ctr {
      margin: 0 auto;
      max-width: 440px;
      background: #ffffff3a;
      border: 2px solid rgba(95, 91, 91, 0.322);
      padding: 2px;
    }
    
  img {
    width: 50px;
    height: 100%;
    padding: 1vh;
    border-radius: 25px;
    border: none;
  }  
p {
  border: ;
}
  #full-size-h {
    color: rgba(6, 238, 238, 0.308);
    font-size: small;
    font-style: italic;

  }
} 