* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 10px;
  text-align: right;
  margin: 0;
  padding: 0;
}

body {margin: 0 auto;
  max-width: 444px;
  display: grid;
  gap: 5px;
  background: #fff;
}
.container {
  
}
.sub_containerA {
  background: tomato;
  height: 44px;
}
.sub_containerB {
  background: rgb(160, 64, 47);
  height: 44px;
}
.sub_containerC {
  background: rgb(122, 78, 71);
  height: 44px;
}
