* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  /* background-color: #3E92CC; */
}
#full-size-h {
  color: rgb(2, 114, 77);
  font-size: 10px;
  text-align: right;
  margin-right: 20px;
}

.container {
  height: 350px;
  margin: 0 auto;
  /* background: #06d6a0; */
}

.Sub_containerA{
  margin: 0 auto; 
  text-align: center;
  width: 100%;
  /* background: #ffd166; */
}

img {
  margin-top: 25px;
  text-align: center;
  border-radius: 50%;
  width: 150px;
  height: 150px; 
  max-width: 150px;
}
.pro{
  margin: 0 auto;
  /* background: red; */
  width: 80%;
  display: grid;
  justify-items: center; 
  align-content: center;
  text-align: center;
}
h1 {
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 25px;
  font-size: 22px;
  text-align: center;

} 
h2{
  display: grid;
  justify-items: center;
  align-content: center;
  font-size: .9em;
  color: #2b2926;
  font-weight: 300;
  max-width: 40%;
  text-align: center;
}
.ohter-links ul {
  margin: 15px;
  padding: 0;
}
.ohter-links ul a {
  /* border: 2px solid green; */
  border-radius: 50%;
  width: 50px;
}
.ohter-links ul a i {
  width: 32px;
}

.Sub_containerB{
  margin: 0 auto; 
  text-align: center;
  width: 100%;
  background: #cac4b7;
  
}
.Sub_containerC{
  margin: 0 auto; 
  text-align: center;
  width: 100%;
  background: #504d47;
}
.ohter-links {
  margin: 0;
  padding: 0;
}
@media (max-width: 500px) {
  .Sub_containerA,
  .Sub_containerB,
  .Sub_containerC {
    width: 100%;
  }
  .pro-bio h2 {
    max-width: 70%;
  }
}
@media (min-width: 300px) {
  .Sub_containerA{
    width: 100%;
    /* background: #ffd166; */
  }
  .pro-bio {
    max-width: 100%;
  }
  .pro-bio h2 {
    max-width: 50%;
  }
}